<%= form_for(@message) do |f| %>
<% if @message.errors.present? %>
    <div class="alert alert-danger">
        <%= alert %>
        <ul>
          <% @message.errors.full_messages.each do |full_message| %>  
          <li>
              <%= full_message %>
          </li>
          <% end %>
        </ul>
    </div>
<% end %>


<div class="container-fluid form-group">
    <div class="row">
        <div class="col-md-12">
            <span class="glyphicon glyphicon-pencil"></span><%= f.label :名前 %>
            <%= f.text_field :name , class: "form-control" , placeholder: "name input" %>
        </div>
        <div class="col-md-12">
            <span class="glyphicon glyphicon-apple"></span><%= f.label :年齢 %>
            <%= f.text_field :age , class: "form-control" , placeholder: "age input" %>
        </div>
        <div class="col-md-12">
            <span class="glyphicon glyphicon-list-alt"></span><%= f.label :内容 %>
            <%= f.text_area :body , class: "form-control" , rows: "3" ,  placeholder: "text input" %>
        </div>
        <div class="col-md-12">
            <%= f.submit class: "btn btn-primary" %>
        </div>
    </div>
</div>
<% end %>


<style>
    .col-md-12{
        margin-bottom: 2rem;
    }
    
    .col-md-12 span{
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        color: #999;
    }
    
    .panel-body{
        line-height: 200%;
    }
    
    .label-age{
        background: #ddd;
        font-weight: normal;
        color: #333;
    }
</style>